<div class="worker">

    <div class="section friendly-name">
        <span class="name">{{ worker }}</span>
        <span>is</span>
        <span class="availability">Unavailable</span>
    </div>

    <div class="section activities">
        <div>
          <button data-name="offline" class="activity current">
            Offline
          </button>
          <button data-name="idle" class="activity">
            Idle
          </button>
          <button data-name="active" class="activity">
            Active
          </button>
          <button data-name="wrap-up" class="activity">
            Wrap up
          </button>
        </div>
    </div>

    <div class="section reservations">

    </div>

    <div id="events" class="section">

    </div>

</div>