<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <link rel='stylesheet' href='/stylesheets/main.css' />
    </head>
    <body>
        {{{body}}}
        <script type="text/javascript" src="//media.twiliocdn.com/taskrouter/js/v1.12/taskrouter.min.js"></script>
        <script src="/javascripts/main.js"></script>
    </body>
</html>
